

<span us-spinner spinner-key="spinner-1"></span>

<div class='section'>


    <ui-state id='activeTab' default='1'></ui-state>

   
    <div ui-if="activeTab == 1">
      
        <div class="page-header">
            <h4>审批 <small>动作</small></h4>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                申请人
            </div>

            <div class="panel-body">
                <div class="list-group">
                    <a class="list-group-item">
                        <h5 class="list-group-item-heading">编号</h5>
                        <p class="list-group-item-text">{{processListDetail.ITNO}}</p>
                    </a>
                    <a class="list-group-item">

                        <h5 class="list-group-item-heading">日期</h5>
                        <p class="list-group-item-text">{{processListDetail.CreateDateString}}</p>
                    </a>
                    <a class="list-group-item">
                        <h5 class="list-group-item-heading">填表人</h5>
                        <p class="list-group-item-text">{{processListDetail.CreatorName}}</p>
                    </a>

                    <a class="list-group-item">
                        <h5 class="list-group-item-heading">部门</h5>
                        <p class="list-group-item-text">{{processListDetail.CreatorDept}}</p>
                    </a>


                </div>
            </div>
        </div>
                <div class="panel panel-default" ng-show="IsShowControl">
                    <div class="panel-heading">
                        审批
                    </div>

                    <div class="panel-body">
                        <form>
                            <div class="form-group">
                                <textarea class="form-control" ng-model="Comments" rows="3" placeholder="请输入审批意见" required></textarea>

                            </div>
                            <div style="float:left">
                                <button type="submit" class="btn btn-primary" ng-click="Approve(Comments)" style="margin-right:10px;">批准</button>
                                <button type="submit" class="btn btn-warning" ng-click="RollBack(Comments)" style="margin-right:10px;">驳回</button>

                            </div>
                        </form>
                    </div>

                </div>

                <div class="panel panel-default" ng-show="HasAttachment">
                    <!-- Default panel contents -->
                    <div class="panel-heading">附件</div>
                    <!-- Table -->
                    <table class="table">

                        <tbody>
                            <tr ng-repeat="attach in processListDetailAttachment">

                                <td>
                                    <a href="" ng-click="OpenAttach(attach.AttachmentID);" ng-show="isWeiXinClient==true">{{attach.AttachmentTitle}}</a>
                                    <a href="{{attach.AttachmentPath}}" ng-show="isWeiXinClient==false">{{attach.AttachmentTitle}}</a>
                                </td>

                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>

            <div ui-if="activeTab == 2">
                <div class="page-header">
                    <h4>详情 <small>补卡</small></h4>
                </div>
                <div class="panel-group" ui-default='1'
                     ui-state='myAccordion'>
                    <div class="panel panel-default" ng-repeat="detail in processListDetailTable">
                        <div class="panel-heading" ui-set="{'myAccordion': detail.Number}">

                            <h4 class="panel-title">
                                {{ detail.AttendanceTimeString}}{{ detail.Stage}}
                            </h4>
                        </div>
                        <div ui-if="myAccordion == {{ detail.Number}}">
                            <div class="panel-body">
                                <div class="list-group">
                                    <a class="list-group-item">
                                        <h5 class="list-group-item-heading">申请人</h5>
                                        <p class="list-group-item-text">{{detail.Requestor}}</p>
                                    </a>

                                    <a class="list-group-item">
                                        <h5 class="list-group-item-heading">补卡时间</h5>
                                        <p class="list-group-item-text">{{detail.AttendanceTimeString}}</p>
                                    </a>
                                    <a class="list-group-item">
                                        <h5 class="list-group-item-heading">补卡班次</h5>
                                        <p class="list-group-item-text">{{detail.Stage}}</p>
                                    </a>

                                    <a class="list-group-item">
                                        <h5 class="list-group-item-heading">补卡原因</h5>
                                        <p class="list-group-item-text">{{detail.Reason}}</p>
                                    </a>

                                </div>

                            </div>
                        </div>
                    </div>





                </div>

            </div>


            <div ui-if="activeTab == 3">
                <div class="page-header">
                    <h4>流程 <small>状态</small></h4>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        流程图
                    </div>
                    <div>
                        <div class="panel-body">
                            <div class="status">

                                <div ng-repeat="process in processStatusDetail">
                                    <div class="status_list center-1">
                                        <ul>
                                            <li>
                                                <div class="status_list_title">{{process.ActivityName}}：{{process.ApproverName}}  {{process.Result}} </div>
                                                <div align="status_list_time">时间：{{process.ApproveTimeStr}} </div>
                                                <div align="status_list_time" ng-show="process.Comment!=''">审批意见：{{process.Comment}} </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="flowdown" ng-show="!$last">
                                        <div class="status_line"></div>
                                        <div class="status_triangle_fram">
                                            <div class="status_triangle"></div>
                                        </div>
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>
                </div>










            </div>


        </div>

<div style="height:60px;"></div>
<div class="btn-group justified nav-tabs btn-tab-detail" style="position:fixed;bottom:0px;">
    <a ui-set="{'activeTab': 1}"
       ui-class="{'active': activeTab == 1}" class="btn btn-default btn-tab-detail-item">审批</a>
    <a ui-set="{'activeTab': 2}"
       ui-class="{'active': activeTab == 2}" class="btn btn-default btn-tab-detail-item">详情</a>
  
    <a ui-set="{'activeTab': 3}"
       ui-class="{'active': activeTab == 3}" class="btn btn-default btn-tab-detail-item">流程</a>

</div>
        <!-- loading toast -->
        <div id="loadingToast" class="weui_loading_toast" ng-show="isLoadingToast">
            <div class="weui_mask_transparent"></div>
            <div class="weui_toast">
                <div class="weui_loading">
                    <div class="weui_loading_leaf weui_loading_leaf_0"></div>
                    <div class="weui_loading_leaf weui_loading_leaf_1"></div>
                    <div class="weui_loading_leaf weui_loading_leaf_2"></div>
                    <div class="weui_loading_leaf weui_loading_leaf_3"></div>
                    <div class="weui_loading_leaf weui_loading_leaf_4"></div>
                    <div class="weui_loading_leaf weui_loading_leaf_5"></div>
                    <div class="weui_loading_leaf weui_loading_leaf_6"></div>
                    <div class="weui_loading_leaf weui_loading_leaf_7"></div>
                    <div class="weui_loading_leaf weui_loading_leaf_8"></div>
                    <div class="weui_loading_leaf weui_loading_leaf_9"></div>
                    <div class="weui_loading_leaf weui_loading_leaf_10"></div>
                    <div class="weui_loading_leaf weui_loading_leaf_11"></div>
                </div>
                <p class="weui_toast_content">数据加载中</p>
            </div>
        </div>
  <!--BEGIN dialog2-->
<div class="weui_dialog_alert" id="dialog2" ng-show="showWarnToast">
    <div class="weui_mask"></div>
    <div class="weui_dialog">
        <div class="weui_dialog_hd"><strong class="weui_dialog_title">提示</strong></div>
        <div class="weui_dialog_bd">请填写审批意见</div>
        <div class="weui_dialog_ft">
            <a ng-click="hideWarn();" class="btn_weui_dialog primary">确定</a>
        </div>
    </div>
</div>
<!--END dialog2-->